extends layout

include mixins/form
include mixins/links

block content
  #js--content.page-sign-in

    <h2>Sign in to Junco</h2>

    +errors()

    if (auth.alone.enabled || auth.local.enabled)

      <form class="auth-form" action="#{proxyPath}/login" method="post">
        <input class="form-control" type="text" autofocus name='username' placeholder="Username">
        <input class="form-control" type="password" name='password' placeholder="Password">
        <button class="btn-primary btn btn-auth" type="submit">Sign in</button>
      </form>

    if (auth.ldap.enabled)
      <form class="auth-form" action="#{proxyPath}/login" method="post">
        <input class="form-control" type="text" autofocus name='username' placeholder="Username">
        <input class="form-control" type="password" name='password' placeholder="Password">
        <button class="btn-info btn" type="submit">Sign in via LDAP</button>
      </form>

    if (auth.google.enabled)
      <a href="/auth/google" class="btn-auth btn-auth-social btn-auth-google">Sign in with Google</a>

    if (auth.github.enabled)
      <a href="/auth/github" class="btn-auth btn-auth-social btn-auth-github">Sign in with GitHub</a>


