#js--content .CodeMirror.CodeMirror-fullscreen {
  height: auto;
}

#js--content .CodeMirror-fullscreen {
  margin-top: 56px;
}

#js--content .CodeMirror {
  border: 1px solid #ccc;
  height: calc(100vh - 360px);
  border-radius: 3px;
  line-height: 1.6;
  padding: 12px 8px 12px 16px;
}

#js--content .CodeMirror .CodeMirror-gutter-wrapper {
  position: absolute;
}

#js--content .CodeMirror-focused {
  border-color: rgba(82,168,236,0.8);
  box-shadow:
    0 0 0 2.5px rgba(102,175,233,0.5);
}

.CodeMirror-gutters {
  border-right: none !important;
  background: white !important;
}

.CodeMirror-linenumber {
  margin-left: -12px;
}
